<div class="container">
	<div class="status">
		<div class="arrival blink off"><img src="assets/images/truck.png" /><span>Arrival</span></div>
		<div class="pipe on"></div>
		<div class="load_start blink on"><img src="assets/images/truck.png" /><span>Load Start</span></div>
		<div class="pipe"></div>
		<div class="load_end blink"><img src="assets/images/truck.png" /><span>Load End</span></div>
		<div class="pipe"></div>
		<div class="trapaulin blink"><img src="assets/images/truck.png" /><span>Tarpaulin End</span></div>
		<div class="pipe"></div>
		<div class="departure blink"><img src="assets/images/truck.png" /><span>Departure</span></div>
	</div>
	<div class="footer-btns">
		<button class="btn">Truck Status</button>
		<button class="btn" style="float: right;">Exit</button>
	</div>
</div>
