<div id="container">	
	<div id="content">
		<div class="header">
			<a href="home" data-toggle="tooltip" title="Back to Home"><img class="sg-col col1"  src="assets/images/sg_color_logo.jpg"/></a>
			<h2 class="sg-col col2"><span>Truck Turn-Around</span></h2>
			<button class="sg-col col3">Logout</button>
		</div>
		<div id="main-content">						
			<router-outlet></router-outlet>
		</div>
		<div class="footer">
			<a href="home" data-toggle="tooltip" title="Back to Home" class="footer-logo"><img class="sg-col col1"  src="assets/images/logoSGwhite.png"/></a>
			<div class="links">
				<a href="">Arrival</a>
				<a href="">Departture</a>
				<a href="">Site SetUp</a>
			</div>
		</div>
	</div>
</div>
