#container{
	height: 60vh;
}
#container .btn_list a{
	display: block;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background-color: #000;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
#container .btn_list a img{
	position: absolute;
    left: 0;
   /* padding: 5px;*/
    display: block;
    box-shadow: 2px 0px 10px white;
    /*padding: 0;*/
    background: #fff;
    margin: 5px;
}
#container .btn_list a span{
	display: block;
    height: 27px;
    padding-top: 15px;
    text-transform: uppercase;
}