<div id="container">
	<div class="btn_list">
		<a href="home" data-toggle="tooltip" title="Back to Home"><img  src="assets/images/arrival.png"/><span>Arrival</span></a>
		<a href="home" data-toggle="tooltip" title="Back to Home"><img  style="padding: 0; background: #fff; margin: 5px;" src="assets/images/departure.png"/><span>Departure</span></a>
		<a href="home" data-toggle="tooltip" title="Back to Home"><img  style="padding: 0; background: #fff; margin: 5px; width: 32px;" src="assets/images/setup.png"/><span>Site Setup</span></a>
		<a href="status" data-toggle="tooltip" title="Back to Home"><img  style="padding: 0; background: #fff; margin: 5px;" src="assets/images/site_setup.png"/><span>Check Status</span></a>
		
	</div>	
	
</div>
